
html, body {
	margin:0;
	padding:0;
}

body{
	background-color: #bbbbbb;
}

a {
	 text-decoration: none;
	 color: #dddddd;
}

#song-list{
	font-family: Verdana;
	width: 100%;
	font-size: 2.5vh;
	border-collapse: collapse;
}

#song-list tr:hover{
	background-color: #dddddd;
	font-weight: bold;
}


#song-list td{
	padding: 7px;
	margin: 3px;
}

#song-list tr:nth-child(1) td:nth-child(1){
	width: 50%;
}
#song-list tr:nth-child(1) td:nth-child(2){
	width: 35%;
}
#song-list tr:nth-child(1) td:nth-child(3){
	width: 14%;
}
#song-list td a, .home-button{
	text-decoration: none;
	color: black;
	display: block;
}




#bud {
	color: #D68533;		
}
#gb-bar, #title-bar, #playback-control {
	font-family: Century Gothic, sans-serif;
	color: #dddddd;	
	position: relative;
	z-index: 2;
}

#title-bar {
	background-color: #2b3e50;
	width: 100%;
	text-align: center;
	font-size: 6vh;
	height:8%;
}

#gb-bar {
	background-color: #2b3e50;
	width: 100%;
	text-align: center;
	font-size: 10vh;
	height:12%;
}

#song-combobox{
	text-align: center;	
	padding: 2vw;
	background-color: #4e5d6c;
}

#song-input{
	text-align: center;	
	font-family: Century Gothic, sans-serif	color: white;
	font-size: 5vh;
	width: 60vw;
	background-color: #838E98;
	border: 2px solid black;
	margin: 1vw;
	padding: 0.5vw;
}
#query-text{
	width: 602ww;
	background-color: red;	
	text-align: left;	
}
#song-input:focus{
	outline: none;
}
#button-row{
}
.home-button{
	background-color: #D68533;			
	font-size: 3vh;
	padding: 0.5vw;
	margin: 0.5vw;
	font-family: Century Gothic, sans-serif	
	display: inline-block;
	text-align: center;	
	font-weight: bold;
	border: 2px solid black;
}
.home-button:hover{
	background-color: #EBA054;			
}
#hb1{
	width: 43vw;
}
#hb2{
	width: 14vw;
}

#title-bar:hover, #gb-bar:hover  {
	color: #eeeeee;	
	text-shadow: 0 0 3px white;
}

#guitar-canvas {
	height:45vh;
	width:100%;
	position: relative;
	background-color: #4e5d6c;
}

#back-canvas, #front-canvas {
	position: absolute;
	left: 0; top: 0;
}

#back-canvas {
	z-index: 0;
}

#front-canvas {
	z-index: 1;
}


#playback-control {
	height:4.5%;
	width: 100%;
	font-size: 3.8vh; 
	background-color: #2b3e50;
	text-align: center;
}

.control-btn {
	height: 100%;
	display: inline-block;
	margin: 0px;
	padding-left: 8px;
	padding-right: 8px;
}

.control-btn-selected {
	background-color: #3C5165;	
}

.control-btn:hover {
	background-color: #3C5165;
}

#left-control {
	float: left;
}


#right-control {
	float: right;
}

#info {
	font-family: Verdana;
	margin: 5px;
}


#info2, #info-back, #info-forward
{
	height: 35%;
	padding: 1%;	
	background-color: #DDDDDD;
}

#info-back, #info-forward
{
	width: 5%;
}

#info2 {
	width: 97%;
	overflow-x: auto;
	overflow-y: visible;	
	position: relative;
	margin: 0 auto;
}

#info2 a {
	color: black;
}



.ins {
	padding: 3px;
	margin: 0px;
	display: inline-block;
	font-family:"Consolas", monospace;
	font-size: 4vh;
	text-align: center;
}
#ins-table {
	height: 100%;
	border-collapse: collapse;
}
#ins-tr {
	height: 100%;
	vertical-align: middle;
}
#ins-tr td{
	vertical-align: middle;
}

.ins-select {
	background-color: #E6B685;
}

.ins-a-hover {
	background-color: #B2D1FF;	
}
